/* menu */
:root {
    --primary-text: #4f8f70;
    --secondary-text: #e9fff3;
    --white-text-white: #ffffff;
    --black-text-black: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background:#eaeaea;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.mainmenubtn {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    position: relative;
}

.mainmenubtn:hover {
    background-color: blue;
}

.dropdown {
    position: relative; 
}

.dropdown-child {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: skyblue;
    z-index: 1;
}

.dropdown-child a {
    color: rgb(95, 95, 97);
    padding: 15px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
    color: #fff;
}
.mainmenubtn1:hover  {
    /* background-color: #000; */
    color: #fff;

}
.mainmenubtn2:hover{
    /* background-color: #000; */
    
    color: #fff;

}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.auth a {
    margin-left: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
}

.auth .signup {
    background-color: #333;
    color: #fff;
}

/* fin menu */



.content {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.centerplease {
    margin: 0 auto;
    margin-top: 45px;
    max-width: 270px;
    font-size: 40px;
}

/*Question*/
.question {
    position: relative;
    background: #f9f9f9;
    margin: 0;
    padding: 10px 10px 10px 50px;
    display: block;
    width:100%;
    cursor: pointer;
}

/*Answer*/
.answers {
    padding: 0px 15px;
    margin: 5px 0;
    width:100%!important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}


.questions:checked ~ .answers{
    height: auto;
    opacity: 1;
    padding: 15px;
    
}


/*FAQ Toggle*/
.plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

}


.questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

}


.questions {
    display: none;
    
}
