<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assur-RH</title>

</head>
<body>
    <div class="centerplease">
        FAQ 
      </div>
      <br>
      
      <div class="content">
      <div>
        <input type="checkbox" id="question1" name="q"  class="questions">
        <div class="plus">+</div>
        <label for="question1" class="question">
            J'ai droit a combien de jours de congé ?
        </label>
        <div class="answers">
            bref.</div>
      </div>
      
      <div>
        <input type="checkbox" id="question2" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question2" class="question">
          Comment prendre une permission?
        </label>
        <div class="answers">
          bref!
        </div>
      </div>
        
      <div>
        <input type="checkbox" id="question3" name="q" class="questions">
        <div class="plus">+</div>
        <label for="question3" class="question">
          Comment ecrire une demande d'absence/de permission?  
        </label>
        <div class="answers">
          bref!
        </div>
      </div>
      </div>
</body>
</html>