<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assur-RH</title>
    <script src="script.js"></script>
</head>
<body>
    

    
    <main>
        <section class="title">
        <div class="hero" style="width: 500px;">
            <h1>"Heureux de vous revoir, bienvenue !" <br> </h1>
            <p >Votre espace dédié à la gestion efficace des ressources humaines.
                Suivez l’évolution de vos processus RH en temps réel. Optimisez votre productivité.
                

            </p>
            <div class="cta-buttons">
                <a href="#" class="btn-primary">Demandes de congé</a>
                <a href="#" class="btn-secondary">Demandes de permission</a>
            </div>
        </div>
    </section>

        <section class="features">
            <div class="featuree" style="margin-top: -80px;">
                <div class="feature-image">
                    <div class="eventt">
                    <div class="">0.
                        <p>Design sync<br>1pm - 3pm</p>

                    </div>
                    <div class="">
                        <p>Design sync<br>1pm - 3pm</p>

                    </div>
                    </div>
                </div>
            </div>
            
            
            <div class="featurer">
                <div style="background-color: black;color: white;border-radius: 20px;align-self: flex-end;" >
                    <p>Sachez toujours ce que fait votre équipe</p>
                </div>
                
                <!-- <img src="assets/img/im1.jpg" alt="Team photo" style="width: 400px;border-radius: 30px;"> -->
                
            </div>
            
            

            <div class="feature"style="margin-top: -100px;">
                <div class="events">
                    <div class="event">
                        <p>Sophia</p>
                        <div class="event-date">
                            <div>Jan 28</div>
                            <p>Design sync<br>1pm - 3pm</p>
                        </div>
                    </div>
                    <div class="event">
                        <p>Sophia</p>
                        <div class="event-date">
                            <div>Jan 28</div>
                            <p>Design sync<br>1pm - 3pm</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
