<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assur-RH</title>
</head>
<body>
    <main>
        <section class="survey">
            <h1>Faites votre choix</h1>
            <p class="subheading">Select up to 3 options</p>
            <form>
                <div class="options-grid">
                    <label class="option">
                        <input type="checkbox" name="movies" value="A New Hope">
                        A New Hope
                    </label>
                    
                    <label class="option selected">
                        <input type="checkbox" name="movies" value="The Empire Strikes Back" checked>
                        The Empire Strikes Back
                    </label>
                    <label class="option">
                        <input type="checkbox" name="movies" value="The Force Awakens">
                        The Force Awakens
                    </label>
                    
                    <label class="option selected">
                        <input type="checkbox" name="movies" value="Rogue One: A Star Wars Story" checked>
                        Rogue One: A Star Wars Story
                    </label>
                    
                    <label class="option">
                        <input type="checkbox" name="movies" value="The Third Gathers: Backstroke of the West">
                        The Third Gathers: Backstroke of the West
                    </label>
                </div>
                <div class="progress-bar-container">
                    <span>24% complete. Keep it up!</span>
                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>
                </div>
                <button class="next-button">Next Question</button>
            </form>
        </section>
    </main>
</body>
</html>
